html {
    font-size: 10px;
}

div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
    flex-basis: 50px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/*
messages-wrapper {
    display: flex;
    flex-direction: row;
    flex: 7 1;
    overflow-y: auto;
}

message-textarea {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    background: white;
    overflow-x: hidden;
}

.active-window-body {
    flex: 7 1;
    background-color: lightgray;
}*/
